.slidev-layout ul ul {
	margin-top: 0
}
.slidev-layout ul ul > li {
	list-style-type: circle;
}

li + li {
	margin-top: .3rem;
}

.form + .form {
	margin-top: 1rem;
}
.form form {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: .5rem;
}
.form span {
	font-size: .8rem;
}
.form label {
	font-size: .9rem;
}
.form input {
	padding: 4px 6px;
	font-size: .8rem;
	border: 1px solid black;
	border-radius: 6px;
}
.nul input:focus, .nul button:focus {
	outline: none;
}
.form button {
	padding: .2rem .3rem;
	font-size: .9rem;
	border-radius: 6px;
	color: white;
	background-color: #222;
}
.form .error {
	font-size: .8rem;
	color: red;
}